/* GENERAL STYLES - start */

* {
    box-sizing: border-box;
}


body {
    font-family: 'Dosis', sans-serif !important;
    margin: 0;
    padding: 0;
    color: gray;
    font-weight: 300;

}

.anchor { 
    padding-top: 80px; 
   
}
#main-nav {
    background-color: #616161;
    height: 80px;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
    color: #fff;
    transition: color .3s ease;
    font-size: 2.5rem;


}

.navbar-light .navbar-nav .nav-link:hover {
    color: #f8bbd0;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: #f8bbd0;
}


.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.8rem;
    font-family: 'Dosis', sans-serif;

}

.navbar-light .navbar-brand {
    color: #fff;
    margin-left: 20px;

}

.navbar-light .navbar-brand:hover {
    color: #f8bbd0;

}


#main-header {
    background-image: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)), url(../img/header-background.jpg);

    height: 100vh;
    background-size: cover;
    color: #fff;
    background-position: center, center;
    position: relative;

}

.header-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.header-content p {
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    margin-left: 150px;
    margin-bottom: 150px;


}

h1 {

    font-weight: normal;
    color: #f8bbd0;
    font-size: 80px;
    text-align: left;
    margin-left: 80px;
    margin-bottom: 80px;


}

#about {
    margin: 40px;

    
}

#about .main-item {
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    padding-bottom: 70px; 
    color: #616161;
    background-size: cover;

}

#about .under-text {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    color: #616161;
    line-height: 1.5;
    position: relative;

 
  



}

.no-padding {
    padding: 0px;
}

figure.circle-img
{
    margin: auto;
}

.circle-img .img-photo{
    background-image: url(../img/justyna_paprzycka.jpg);
    width: 230px;
    height: 230px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    background-size: cover;
    margin: auto;
    padding: 0;
}



#skills {
    background-color: #eeeeee;
    padding-bottom: 40px;;

}

#skills .main-item {
    font-family: "Dosis", sans-serif;
    font-size: 50px;
    color: #616161;
    padding-top: 40px;

}

#skills .main-text {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    color: #616161;
    margin: 50px;
    line-height: 1.5;
    padding: 10px;

}

#skills .under-text {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
  


} 

#skills .fab {

    font-size: 40px;

    margin: 10px;
    text-align: center;
    color: #616161;

}

#skills .fab:hover {

    color: #f8bbd0;

}

/* #portfolio-item-1 {
    background-image: url(../img/portfolio1.jpg);


}


#portfolio-item-2 {
    background-image: url(../img/portfolio2.jpg);


}


#portfolio-item-3 {
    background-image: url(../img/portfolio3.jpg);



}

#portfolio {
    font-family: "Dosis", sans-serif;
    font-size: 50px;
    color: #616161;
    text-align: center;

}

#portfolio .portfolio-items {
    font-size: 5px;
    text-align: center;
}

#portfolio .portfolio-item {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#portfolio .item-mask {
    background: rgba(42, 61, 79, 0.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all 0.3s;
    font-size: 16px;
    opacity: 0;

}

#portfolio .item-mask:hover {
    opacity: 1;
}

#portfolio .item-content {
    margin: 10px;
    height: 330px;
    border: 1px solid #fff;
    position: relative;
}


#portfolio .item-content-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    left: 0;
    right: 0;
}
 */

#portfolio {
    padding-bottom: 30px;
}
#contact {
    background-image: linear-gradient( rgba(0, 0, 0, .8), rgba(0, 0, 0, .7)), url(../img/footer-background.jpg);
    background-size: cover;
    background-position: center, center;
    background-position: center;
    padding-bottom: 30px;
}


#contact .section-title {
    font-family: "Dosis", sans-serif;
    font-size: 50px;
    color: white;
/*    padding-top: 50px;*/

}

#contact .under-text {
    font-size: 20px;
    color: white;
    padding-bottom: 40px;

}

 

/* #contact .form-control {
    height: 40px;
max-width: 400px;
    border: 2px solid #616161;
    border-radius: 10px;
    color: #fff;
    outline: none;

}


#contact .form-text {
    height: 160px;
max-width: 404px;
    border: 2px solid #616161;
    border-radius: 10px;
    color: #fff;

}

textarea::placeholder {
    color: #6c757d;
}

textarea {
    outline: none;
    background-color: rgba(0, 0, 0, .2);
    color: black;
    
}


#contact .btn {
    height: 40px;
    width: 80px;
    border: 1px solid #424242;
    border-radius: 10px;
    background-color: #616161;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

input .form-control {
    color: aliceblue;
}

#contact .btn:hover {
    background-color: #bdbdbd;
} */

#contact .contact-details {
    padding-bottom: 40px;
}
.icons {
    margin:auto;
}



#contact .logo,
.name-contact {
    font-size: 35px;
    color: white;

}

#contact .logo img {
    font-size: 30px;
}


#contact .number-contact {
    font-size: 30px;
    color: #fff;
}

#contact .number-contact a {
    font-size: 25px;
    color: #fff;
}

#contact .number-contact a:hover {
    font-size: 30px;
    color: #f8bbd0;
    text-decoration: none;

}

#contact .fab {
    font-size: 20px;
    color: #fff;


}

#contact .fas {
    color: white;
    font-size: 20px;


}

#contact .fab:hover {
    color: #bdbdbd;
    transform: scale(1.3);
}

#contact .fas:hover,
.mx-2:hover {
    color: #bdbdbd;
    transform: scale(1.2);
    text-decoration: none;
}

#contact .font-bold {
    color: #fff;


}

#contact .font-bold:hover {
    color: #bdbdbd;

}

.download-contact {
    font-family: 'Dosis', sans-serif !important;

    font-weight: 400;
}



.center {
    display: inline-block;
}

.center-outer {
    width: 100%;
    text-align: center;
}

.form-contact .form-control {
    
    border: 0;
    color: #fff;
    outline: none;
    background-color: rgba(238, 238, 238, 0.5);
   
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-contact ::placeholder {
    color: #fff;
    opacity: 0.5;
}
