/* GENERAL STYLES - start */

* {
    box-sizing: border-box
}


body {
    font-family: 'Dosis', sans-serif !important;
    margin: 0;
    padding: 0;
    color: gray;
    font-weight: 300;
    overflow: auto;

}



.main-nav {
    background-color: #616161;
    

/*    height: 80px;*/
    -webkit-box-shadow: 0px 5px 5px 0px rgba(97, 97, 97, 1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(97, 97, 97, 1);
    box-shadow: 0px 5px 5px 0px rgba(97, 97, 97, 1);

}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
    color: #fff;
    transition: color .3s ease;
    font-size: 2.5rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #f8bbd0;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
}


.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.8rem;
}

.navbar-light .navbar-brand {
    color: #fff;
    margin-left: 20px;
}

.navbar-light .navbar-brand:hover {
    color: #f8bbd0;
}

.navbar-light .navbar-brand:focus {
    color: #fff;
}


#header {
    background-image: linear-gradient( rgba(0, 0, 0, .8), rgba(0, 0, 0, .7)), url(../img/header-background.jpg);
    height: 100vh;
    background-size: cover;
    color: #fff;
    background-position: center, center;

}

#header-container-background {

    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;

}

#header .header-title {
        color: #f8bbd0;
}

@media screen and (min-width: 601px){
    #header .header-title {
        font-size: 80px;
    }
    
    #header .header-text {    
        font-size: 50px;
    }
}

@media screen and (max-width: 600px) {
    #header .header-title {
        font-size: 60px;
    }
    
    #header .header-text { 
        font-size: 40px;
    }
}

 .section-title {    
    font-size: 50px;
    color: #616161;
    background-size: cover;

}

 .section-text {
    
    font-size: 20px;
    color: #616161;
    line-height: 1.5;


}

.circle-img .img-photo {
    
    background-image: url(../img/justyna_paprzycka.jpg);
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-size: cover;
    margin: auto;

}

#about .about-text {
    color: #616161;
    font-size: 20px;
}


#skills {
    
    background-color: #eeeeee;
}


#skills .section-text {

 
    color: #616161;*/
    line-height: 1.5;


}

#skills .signature-title {
    
    font-size: 20px;



}

#skills .fab {

    font-size: 40px;
    color: #616161;
    
}

#skills .fab:hover {

    color: #f8bbd0;

}

#portfolio .section-text {
   
    color: #616161;
    font-size: 20px;
}

#portfolio .fab, .far{
    color: #f8bbd0;
    
}

#contact {
    
    background-image: linear-gradient( rgba(0, 0, 0, .8), rgba(0, 0, 0, .7)), url(../img/footer-background.jpg);
    background-size: cover;
    background-position: center, center;
    background-position: center;
    ;
}


#contact .section-title, .section-text {
    

    color: white;
    
}



.icons {
    margin: auto;
}



#contact .logo,
.name-contact {
    
    font-size: 35px;
    color: white;

}

#contact .logo img {
    
    font-size: 30px;
}


#contact .number-contact {
    
    font-size: 30px;
    color: #fff;
}

#contact .number-contact a {
    
    font-size: 25px;
    color: #fff;
}

#contact .number-contact a:hover {
    
    font-size: 30px;
    color: #f8bbd0;
    text-decoration: none;

}

#contact .fas,
.fab {
    
    color: white;
    font-size: 20px;


}

#contact .contact-details .fab:hover {
    
    color: #bdbdbd;
   /* transform: scale(1.3);*/
}

#contact .fas:hover,
.mx-2:hover {
    
    color: #bdbdbd;
    /*transform: scale(1.3);*/
    text-decoration: none;
}


#contact .font-bold:hover {
    
    color: #bdbdbd;

}

.download-contact {
    
    font-family: 'Dosis', sans-serif !important;
    font-weight: 400;
}



.center {
    
    display: inline-block;
}

.center-outer {
    
    width: 100%;
    text-align: center;
}

.form-contact .form-control {

    border: 0;
    color: #fff;
    outline: none;
    background-color: rgba(238, 238, 238, 0.5);

}

.form-control:focus {
    
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-contact ::placeholder {
    
    color: #fff;
    opacity: 0.5;
}
